<%= form_with(model: balance) do |form| %>
  <% if balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(balance.errors.count, "error") %> prohibited this balance from being saved:</h2>

      <ul>
        <% balance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :account_id %>
    <%= collection_select(:balance,:account_id,Account.all,:id,:nameLstring)%>

  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control"  %>
  </div>



  <div class="form-group">
  <%= form.submit "Create Balance", class: "btn btn-primary" %>
</div>

<% end %>
