<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @balance.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @balance.account_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @balance.amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @balance.notes %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Back', balances_path %>
