<nav class="navbar navbar-default" role="navigation">
  
<%= link_to "GANTIS VENTURES", root_path, class: "navbar-brand" %>

  <!-- Collect the nav links, forms, and other content for toggling -->
 <ul class="nav">
  <li class="nav-item"><%= link_to "Companies", companies_path %></li> &nbsp; &nbsp / 
  <li class="nav-item"><%= link_to "Investments", investments_path %></li> &nbsp; &nbsp; / 
  <li class="nav-item"><%= link_to "Accounts", accounts_path %></li> &nbsp; &nbsp; / 
  <li class="nav-item"><%= link_to "Transactions", moves_path %></li> &nbsp; &nbsp; / 
  <li class="nav-item"><%= link_to "Balances", balances_path %></li> &nbsp; &nbsp; / 
  <% if user_signed_in? %>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
  </ul> <br /> 
  </nav>