<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Account Name" %>
    <%= form.text_field :nameLstring, autofocus: true, class: "form-control" %>
  </div>



  <div class="form-group">
    <%= form.label "Horizon" %>
    <%= form.text_field :horizon, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Target Exit" %>
    <%= form.text_field :target_exit, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Account Notes" %>
    <%= form.text_area :notes, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Create Account", class: "btn btn-primary" %>
  </div>
<% end %>
