<p id="notice"><%= notice %></p>
<% if user_signed_in? %>

<h1>Accounts</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
    <th>ID</th>
    <th scope="col">Name</th>
    <th scope="col">Balance</th>
    <th scope="col">Updated</th>
    <th scope="col">Horizon</th>
    <th scope="col">Target exit</th>
    <th scope="col">Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
      <td><%= account.id %></td>
        <td><%= link_to account.nameLstring, account %></td>
        <td><%= number_to_currency(account.balances.last.amount) %></td>
        <td><%= account.balances.last.created_at.to_formatted_s(:short) %></td>
        <td><%= account.horizon %></td>
        <td><%= account.target_exit %></td>
        <td><%= account.notes %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path, :class => "btn btn-primary"%>



<% else %>
<p>sorry, not signed in</p>
<% end %> 